factory/pipeline/pl_data_master_load.json
{
	"name": "pl_data_master_load",
	"properties": {
		"activities": [
			{
				"name": "For each entity",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.loop_input",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Data ingestion",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_incremental_ingestion",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema": {
										"value": "@item().schema",
										"type": "Expression"
									},
									"table": {
										"value": "@item().table",
										"type": "Expression"
									},
									"cdc": {
										"value": "@item().cdc",
										"type": "Expression"
									},
									"from_date": {
										"value": "@item().from_date",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Failure alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "For each entity",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-31.centralindia.logic.azure.com:443/workflows/9382d3df0d744f379ba26c307fdf63d5/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=cHIDHMuwOl_K1bZESm-2o8M1Nk6ZRYqAjZqe9bFx8GI",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"pipeline_runId\": \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"loop_input": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc": "date",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc": "stream_timestampa",
						"from_date": ""
					}
				]
			}
		},
		"annotations": []
	}
}